@model ElCaminoDeCostaRica.Models.Question
@{
    List<SelectListItem> surveys = new List<SelectListItem>();
    List<SelectListItem> services = new List<SelectListItem>();
    foreach (var survey in ViewBag.Surveys)
    {
        surveys.Add(
        new SelectListItem { Text = Convert.ToString(survey.id), Value = Convert.ToString(survey.id) }
        );
    }

    foreach (var service in ViewBag.Services)
    {
        services.Add(
        new SelectListItem { Text = Convert.ToString(service.name), Value = Convert.ToString(service.id) }
        );
    }
}

<html>
<head>
</head>
<body>
    @using (Html.BeginForm("questionEdit", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <section class="min-vh-100 " style=" font-size:x-large;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 4rem; border-style: solid; border-color: #FAD586;">
                            <div class="row g-0 mb-7">

                                <div class="col-md-6 col-lg-5 d-none d-md-block" ;>
                                    <img src="https://cdn-icons-png.flaticon.com/512/121/121703.png"
                                         alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin: 8px 14px" />
                                </div>

                                <div class="col-md-6 col-lg-7 d-flex align-items-center" style="font-size:x-large">
                                    <div class="card-body p-4 p-lg-5 text-black">


                                        <form>

                                            <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #184D47">Modificar Pregunta</h1>



                                            <div class="form-outline mb-4">
                                                @Html.LabelFor(model => model.idSurvey, new { @class = "formLabel" })
                                                @Html.DropDownListFor(model => model.idSurvey, surveys, "-Sin selección - ", new { @class = "form-control,form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.idSurvey, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Apellido </label>
                                                @Html.LabelFor(model => model.idService, new { @class = "formLabel" })
                                                @Html.DropDownListFor(model => model.idService, services, "-Sin selección - ", new { @class = "form-control,form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.idService, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Email </label>
                                                @Html.LabelFor(model => model.question, new { @class = "formLabel" })
                                                @Html.TextBoxFor(model => model.question, new { @class = "form-control,form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="pt-1 mb-4">
                                                <a href="~/Views/Home/Index.cshtml">
                                                    <input type="submit" class="rounded-3 btnLogin"
                                                           style=" margin: 10px; background-color: #FAD586; color:black; "
                                                           value="Guardar Cambios" />
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
    </body>
    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")
    }
</html>
