@model ElCaminoDeCostaRica.Models.StageDates
@{
    List<SelectListItem> stages = new List<SelectListItem>();
    foreach (var stage in ViewBag.Stages)
    {
        stages.Add(
        new SelectListItem { Text = Convert.ToString(stage.name), Value = Convert.ToString(stage.id) }
        );
    }
}


<html>
<head>

</head>
<body>

    <div>
        @using (Html.BeginForm("stageDatesEdit", "StageDates", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()

            <section class="min-vh-100 " style=" font-size:x-large;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-xl-10">
                            <div class="card" style="border-radius: 4rem; border-style: solid; border-color: #FAD586;">
                                <div class="row g-0 mb-7">

                                    <div class="col-md-6 col-lg-5 d-none d-md-block" ;>
                                        <img src="https://cdn-icons-png.flaticon.com/512/82/82122.png"
                                             alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin: 8px 14px" />
                                    </div>

                                    <div class="col-md-6 col-lg-7 d-flex align-items-center" style="font-size:x-large">
                                        <div class="card-body p-4 p-lg-5 text-black">
                                            @Html.HiddenFor(model => model.id)
                                            @Html.HiddenFor(model => model.code)

                                            <form>

                                                <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #184D47">Modificar Fecha</h1>

                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17">  Fecha </label>
                                                    @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @type = "date" })
                                                    @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17"> Capacidad </label>
                                                    @Html.TextBoxFor(model => model.capacity, new { @class = "formcontrol, formInput" })
                                                    @Html.ValidationMessageFor(model => model.capacity, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17"> Etapa </label>
                                                    @Html.DropDownListFor(model => model.idStage, stages, "-Sin selección - ", new { @class = "form - control" })
                                                    @Html.ValidationMessageFor(model => model.idStage, "", new { @class = "text-danger" })
                                                </div>


                                                <div class="pt-1 mb-4">
                                                    <a href="~/Views/Home/Index.cshtml">
                                                        <input type="submit" class="rounded-3 btnLogin"
                                                               style=" margin: 10px; background-color: #FAD586; color:black; "
                                                               value="Guardar Cambios" />
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
</body>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
</html>

