
@model ElCaminoDeCostaRica.Models.Picture
@{ ViewBag.Title = "Fotos"; }
<html>
<head>
</head>

<body class="body_Form">

    <div class="table-responsive m-lg-2">
        <table class="table">
            <h1 align="center" style="color: #184D47; font-family: Agrozza Demo">Lista de Fotografías</h1>
            <tr style="color: #184D47">
                <th scope="col" class="text-center">Identificación</th>
                <th scope="col" class="text-center">Foto</th>
                <th scope="col" class="text-center">Descripcion</th>
                <th scope="col" class="text-center">Sitio</th>
                <th scope="col" class="text-center">Etapa</th>
            </tr>
            <tbody>
                @foreach (var picture in ViewBag.pictures)
                {
                    <tr>

                        <td scope="row" class="text-center"> @picture.id </td>
                        <td scope="row" class="text-center">
                            @Html.ActionLink("Ver Foto", "", new { },
                                     new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere modificar esta foto ? ');" })
                        </td>
                        <td scope="row" class="text-center"> @picture.caption </td>
                        <td scope="row" class="text-center"> @picture.idSite </td>
                        <td scope="row" class="text-center"> @picture.idStage </td>

                        <td>
                            @Html.ActionLink("Modificar", "pictureEdit",
                                      new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere modificar esta foto ? ');" })
                        </td>
                        <td>
                            @Html.ActionLink("Borrar", "pictureDelete", new { identificador = picture.id },
                                  new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere borrar esta foto? ');" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>



</body>
</html>