@model ElCaminoDeCostaRica.Models.Service
@{ ViewBag.Title = "Servicio"; }
<html>
<head>
</head>

<body>


    <div class="table-responsive m-lg-2">
        <h1 align="center" style="color: #184D47; font-family: Agrozza Demo">Lista de Servicios</h1>
        <table class="table">
            <tr style="color: #184D47">
                <th scope="row" class="text-center">Id</th>
                <th scope="row" class="text-center">Nombre</th>
                <th scope="row" class="text-center">Descripcion</th>
                <th scope="row" class="text-center">Categoria</th>
                <th scope="row" class="text-center">Proveedor</th>
                <th scope="row" class="text-center">Etapa</th>
            </tr>
            <tbody>
                @foreach (var service in ViewBag.services)
                    {
                <tr>
                    <td scope="row" class="text-center"> @service.id </td>
                    <td scope="row" class="text-center"> @service.name </td>
                    <td scope="row" class="text-center"> @service.description </td>


                     @foreach (var category in ViewBag.cat)
                        {
                            if (category.id == service.idCategory)
                            {
                                <td scope="row" class="text-center"> @category.name </td>
                                break;
                            }
                        }

                    
                    @foreach (var supplier in ViewBag.sup)
                    {
                        if (supplier.id == service.idSupplier)
                        {
                            <td scope="row" class="text-center"> @supplier.name </td>
                            break;
                        }
                    }

                    @foreach (var stage in ViewBag.stages)
                    {
                        if (stage.id == service.idStage)
                        {
                            <td scope="row" class="text-center"> @stage.name </td>
                            break;
                        }

                    }
                        <td scope="row">
                            @Html.ActionLink("Modificar", "serviceEdit", new { identificador = service.id },
                                      new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere modificar este servicio ? ');" })
                        </td>
                        <td scope="row">
                            @Html.ActionLink("Borrar", "serviceDelete", new { identificador = service.id },
                                  new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere borrar este servicio? ');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>

   
</body>
</html>
