@{
    ViewBag.Title = "showServices";
}
<html>
<head>
</head>

<body class="container-fluid">
    <h2 style="text-align:center">Servicios de la etapa @ViewBag.id</h2>
    @{
        if (TempData.Peek("message") != null)
        {
            if (Convert.ToBoolean(TempData.Peek("success")))
            {
                <div class="alert-success">
                    <h3> @TempData["message"] </h3>
                </div>
            }
            else
            {
                <div class="alert-danger">
                    <h3> @TempData["message"]</h3>
                </div>
            }
        }
    }

    <div class="seccion_1  text-center position-static row">
        @{ foreach (var service in ViewBag.services)
            {


                <div class="card justify-content-center col-lg-auto mx-auto mt-3" style="width: 18rem;">

                    <div class="card-body d-flex flex-column" style="color:#184D47">
                        <h3 class="card-title"> @service.name   </h3>

                        <img>
                        <p class="card-text">
                        <p>@service.description.</p>
                        @foreach (var rating in ViewBag.ratings)
                        {
                            if (service.id == rating.idService)
                            {
                                <div class="d-flex justify-content-center align-items-center">
                                    <h5 class="review-count">Rating:</h5>
                                    <div class="m-lg-2">
                                        @{
                                            var stars = 5;
                                            for (int i = (int)@rating.averageRating; 0 < i; --i)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                stars--;
                                            }
                                            while (stars != 0) {
                                                <i class="bi bi-star"></i>
                                                stars--;
                                            }
                                        }

                                    </div>

                                </div>
                            }
                        }
                        </p>
                        @foreach (var category in ViewBag.categories)
                        {
                            if (service.idCategory == category.id)
                            {
                                <p class="card-text">
                                    Categoria: @category.name
                                </p>
                            }
                        }
                        @foreach (var supplier in ViewBag.suppliers)
                        {
                            if (service.idSupplier == supplier.id)
                            {
                                <p class="card-text">
                                    Proveedor: @supplier.name
                                </p>
                            }
                        }
                        @if (TempData.Peek("menu") == "user")
                        {
                            <p>
                                @Html.ActionLink("Realizar encuesta", "doSurvey", new { identificador = service.id },
                                  new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere realizar la encuesta? ');" })
                            </p>
                        }

                        <p>
                            @Html.ActionLink("Mostrar feedbacks", "showFeedbacks", new { identificador = service.id },
                              new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere ver las encuestas? ');" })
                        </p>

                    </div>
                </div>


            }
        }


    </div>



    <div>
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btnLogin alert-info" })
    </div>

    <script src="~/Scripts/modal.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/modal.css">
</body>

</html>

