<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Styles.css")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <title style="font-size:large">El Camino de Costa Rica</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        function logOut() {
            document.cookie = 'userLoginInfo=;expires=Thu, 01 Jan 1970 00:00:01 GMT;'
            //TempData["Menu"] = "guest";
        }
    </script>
</head>

<body class="d-flex flex-column">

    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light nav-barGreen"
         style="background-color: #96BB7C;
                ">
        <div class="container-fluid"
             style="background-color: #96BB7C;">

            <a class="navbar-brand" href="/Home" style="background-color: #96BB7C;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Logo_El_Camino_de_Costa_Rica.jpg"
                     alt="" width="30" height="24" class="d-inline-block align-text-top">
                El Camino de Costa Rica
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav" style="background-color: #96BB7C;">
                <ul class="navbar-nav">
                    @switch (TempData.Peek("Menu"))
                    {

                        case "user":

                            <nav class="nav-item" style="background-color: #96BB7C;">
                                <a class="nav-link"
                                   role="link" aria-current="page" href="/Route">
                                    La Ruta
                                </a>
                            </nav>

                            <nav class="nav-item dropdown" style="background-color: #96BB7C;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sitios
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Site/userSiteList">Mis sitios</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Site/userAddSite">Agregar un sitio</a></li>
                                </ul>
                            </nav>

                            <nav class="btn d-flex" style="background-color: transparent;">

                                <button type="button" style="background-color:transparent;border:none">
                                    <i class="bi bi-arrow-left-square"></i>
                                    @Html.ActionLink("Cerrar Sesión", "LogOut", "Home", new { area = "" }, new
                                                                                                    {
                                                                                                        @style = "text-decoration:none; color:rgba(0, 0, 0, 0.7);",
                                                                                                    @onclick = "return confirm('¿Desea cerrar sesion? ');"
                                                                                                    })


                                </button>



                            </nav>

                            break;

                        case "admin":

                            <nav class="nav-item" style="background-color: #96BB7C;">
                                <a href="/Register/userlist" class="nav-link d"
                                   role="link" aria-current="page">
                                    Usuarios Registrados
                                </a>
                            </nav>

                            <nav class="nav-item dropdown" style="background-color: #96BB7C;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Proveedores
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Supplier/supplierList">Lista de Proveedores</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Supplier/addSupplier">Añadir Proveedores</a></li>
                                </ul>
                            </nav>
                            <nav class="nav-item dropdown" style="background-color: #96BB7C;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Servicios
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Service/serviceList">Lista de Servicios</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Service/addService">Añadir Servicios</a></li>
                                </ul>
                            </nav>

                            <nav class="nav-item dropdown" style="background-color: #96BB7C;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categorias
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Category/categoryList">Lista de Categorias</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Category/addCategory">Añadir Categorias</a></li>
                                </ul>
                            </nav>

                            <nav class="nav-item dropdown" style="background-color: #96BB7C;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Rutas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Route/Index">Ruta</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Route/routeList">Lista Rutas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Route/addRoute">Añadir Rutas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Route/sectionList">Lista Secciones</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Route/addSection">Añadir Sección</a></li>
                                </ul>
                            </nav>

                            <nav class="nav-item dropdown" style="background-color: #96BB7C;">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Etapas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Stage/stageList">Lista de Etapas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Stage/addStage">Añadir Etapas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/StageDates/stageDateList">Lista de Fechas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/StageDates/addStageDate">Añadir Fecha</a></li>
                                </ul>
                            </nav>

                            <nav class="nav-item dropdown" style="background-color: #96BB7C;">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Encuestas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Survey/surveyList">Lista de Encuestas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Survey/addSurvey">Añadir Encuesta</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/Feedback/feedbackList">Evaluaciones</a></li>
                                </ul>
                            </nav>

                            <nav class="btn d-flex" style="background-color: transparent;">

                                <button type="button" style="background-color:transparent;border:none">
                                    <i class="bi bi-arrow-left-square"></i>
                                    @Html.ActionLink("Cerrar Sesión", "LogOut", "Home", new { area = "" }, new
                                           {
                                        @style = "text-decoration:none; color:rgba(0, 0, 0, 0.7);",
                                   @onclick = "return confirm('¿Desea cerrar sesion? ');"
                                                                                                    })

                                </button>



                            </nav>

                            break;

                        default:
                            <nav class="nav-item" style="background-color: #96BB7C;">
                                <a class="nav-link"
                                   role="link" aria-current="page" href="/Route">
                                    La Ruta
                                </a>
                            </nav>
                            <nav class="nav-item " style="background-color: #96BB7C;">
                                <a class="nav-link"
                                   role="link" aria-current="page" href="/Register/Register">
                                    Registrarse
                                </a>
                            </nav>
                            <nav class="nav-item" style="background-color: #96BB7C;">
                                <a class="nav-link "
                                   role="link" aria-current="page" href="/Login/Login">
                                    Iniciar Sesion
                                </a>
                            </nav>
                            break;
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="body_Form">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - El Camino de Costa Rica</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
