@model ElCaminoDeCostaRica.Models.Feedback
@{ ViewBag.Title = "Feedbacks"; }
<html>
<head>
</head>

<body class="body_Index">


    <div class="table-responsive m-lg-2">
        @{
            if (ViewBag.Message != null)
            {
                if (ViewBag.Success)
                {
                    <div class="alert-success">
                        <h3> @ViewBag.Message </h3>
                    </div>
                }
                else
                {
                    <div class="alert-danger">
                        <h3> @ViewBag.Message </h3>
                    </div>
                }
            }
        }


        <table class="table">
            <h1 align="center" style="color: #184D47; font-family: Agrozza Demo">Lista de Evaluaciones</h1>
            <tr style="color: #184D47">
                <th scope="col" class="text-center">Servicio</th>
                <th scope="col" class="text-center">Proveedor</th>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Rating</th>
                <th scope="col" class="text-center">Comentarios</th>
            </tr>
            <tbody>
                @foreach (var feedback in ViewBag.feedbacks)
                {
                    <tr>
                        @foreach (var service in ViewBag.services)
                        {
                            if (service.id == feedback.idService)
                            {
                                <td class="text-center" scope="col"> @service.name </td>
                                foreach (var supplier in ViewBag.suppliers)
                                {
                                    if (service.idSupplier == supplier.id)
                                    {
                                        <td class="text-center" scope="col"> @supplier.name </td>
                                    }
                                }
                            }
                        }
                        <td class="text-center" scope="col"> @feedback.day.ToString("yyyy-MM-dd") </td>
                        <td class="text-center" scope="col"> @feedback.rating </td>
                        <td class="text-center" scope="col"> @feedback.comments </td>

                        <td scope="row" class="text-center">
                            @Html.ActionLink("Enviar", "sendFeedback", new { survey = feedback.idSurvey, serviceId = feedback.idService, questionId = feedback.idQuestion },
                                        new { @class = "btnLogin alert-info" })
                        </td>

                        <td scope="row" class="text-center">
                            @Html.ActionLink("Borrar", "feedbackDelete", new { identificador = feedback.idSurvey },
                                      new { @class = "btnLogin alert-info", @onclick = "return confirm('¿Quiere borrar este feedback? ');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</body>
</html>

